body {
    background: url(assets/images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}
#container {
    background-color:rgba(255, 255, 255, .8);
}
h1 {
    font-family: 'Kirang Haerang', cursive;
    font-size: 34px;
    font-weight: bold;
}
p {
    font-family: 'Shadows Into Light', cursive;
    font-size: 24px;
}
