body {
    background: url(assets/images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    font-family: 'Shadows Into Light', cursive;
    font-size: 24px;
    
}
/*White Backgroun Box*/
#container {
    background-color:rgba(255, 255, 255, .9);
    width: 70%;
    margin: 20px auto;
    overflow: auto;
    padding: 20px;
}
/*Trivial Trivia Game Header*/
header {
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    text-shadow:1px 1px 2px gray;
   
}
header .h1 {
    font-size: 40px;
}
header p {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
}
/*Questions Box*/
section {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 2px gray;
    color: blue;
    text-align: center;
}
section h3 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    color: black;
}
/*Buttons*/
input [type="button"] {
    color: blue;
}
/*Pop up After*/
#results h3 {
    color: black;
    page-break-after: 10px;
    margin: 10px 0;
    background-color: blue;
}
#results span {
    color: white;
    font-weight: bold;
}
#end {
    font-family: 'Shadows Into Light', cursive;
    color: gray;
    font-size: 30px;
}

